@import "~bootstrap/scss/bootstrap";

#root {
  background-color: #e3e3e3;
}

#food-icon {
  filter: invert(100%) sepia(0%) saturate(3535%) hue-rotate(301deg) brightness(118%) contrast(87%);
}

#heart {
  width: 1rem;
  filter: invert(12%) sepia(80%) saturate(7045%) hue-rotate(9deg) brightness(91%) contrast(114%);
}

.split {
  .btn-group-cont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem 0;
    padding: 0 5rem;
  }
  form {
    display: flex;
    justify-content: center;
    input {
      margin-right: .5rem;
    }
  }
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  .loader {
    width: 48px;
    height: 48px;
    border: 3px solid #7b7979;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    &::after {
      content: '';  
      box-sizing: border-box;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 56px;
      height: 56px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-bottom-color: #3f2dff;
    }
  }
}

.search-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  .card {
    margin-bottom: 1rem;
    margin-right: .5rem;
    display: flex;
    align-items: center;
    img {
      margin-top: .5rem;
    }
  }
}

.single-recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .instructions-cont {
    margin: 0 1rem;
  }
  .buttons-cont {
    display: flex;
    flex-direction: row;
    
  }
}

.footer {
  text-align: center;
  padding: .5rem;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

@media screen and (min-width: 768px) {
  .search-form {
    flex-direction: row;
  }
}